:root {
  --background: #F9F9F9;
  --blue: #14134F;
  --dark-gray: #2D2D39;
  --gray: #52555B;
  --light-blue: #CFDCFB;
  --off-white: #EDF2FE;
  --orange: #FFB47C;
  --peach: #FC5868;
  --white: #fff;
}

html {
  height: 100vh;
}

body {
  background-color: var(--blue);
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.container {
  background-color: var(--background);
  height: 1044px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: calc(100vh - 1044px);
  width: 1440px;
}

.top-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  position: absolute;
  top: 55px;
}

.logo,
.search,
.link-logo,
.contact-button {
  height: 70px;
  position: relative;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 700;
  gap: 12px;
  left: 80px;
  text-align: left;
  width: 400px;
}

.search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--off-white);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  left: 250px;
  width: 280px;
}

.search input {
  background-color: var(--off-white);
  border-style: none;
  width: 200px;
}

.search input:focus {
  outline: none;
}

input[type=text] {
	font-family: inherit;
  font-size: 16px;
}

.link-logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--off-white);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
}

.subtract {
  left: 274px;
}

.apple {
  left: 300px;
}

.contact-button {
  left: 329px;
  max-width: 210px;
  overflow: hidden;
}

.menu {
  background-color: var(--off-white);
  border-radius: 0 16px 16px 0;
  color: var(--dark-gray);
  height: 440px;
  position: relative;
  top: 224px;
  width: 160px;
}

.menu-item {
  color: var(--dark-gray);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  padding: 0 8px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 86px;
}

.current,
.random-bottom-text {
  color: var(--peach);
}

.menu-item:hover {
  color: var(--gray);
}

.menu-line {
  background-color: var(--light-blue);
  height: 1px;
  margin: 0 auto;
  width: 124px;
}

.main-container {
  color: var(--gray);
  left: 217px;
  position: absolute;
  text-align: left;
  top: 210px;
  width: 800px;
}

.tagline {
  font-size: 18px;
  margin: 0;
}

.header {
  color: var(--blue);
  font-size: 80px;
  font-weight: 700;
  height: 212px;
  margin-bottom: 20px;
  margin-top: 8px;
  overflow: hidden;
  width: 540px;
}

.main-text {
  font-size: 22px;
  height: 87px;
  margin: 0;
  width: 460px;
}

.marked-date {
  color: var(--peach);
  font-weight: 700;
}

.button {
  background-color: #FC5868;
  border: solid 10px var(--peach);
  color: var(--white);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  height: 70px;
  min-width: 210px;
  overflow: hidden;
}

.explore-button {
  margin-top: 50px;
}

.button:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.pop-out {
  -webkit-animation: pop-out 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
          animation: pop-out 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

@-webkit-keyframes pop-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.promo-container-1,
.promo-container-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 700;
  gap: 24px;
  position: absolute;
  overflow: hidden;
  width: 170px;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-container-1 {
  left: 1012px;
  top: 246px;
}

.promo-container-2 {
  left: 1160px;
  top: 316px;
}

.promo-number-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo-number {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.promo-line-1,
.promo-line-2 {
  background-color: #FFB47C;
  height: 3px;
  width: 38px;
}

.promo-line-2 {
  background-color: #14134F;
}

.reading-girl {
  left: 520px;
  position: absolute;
  top: 354px;
  z-index: 30;
}

.red-line {
  height: 300.26px;
  left: 694px;
  position: absolute;
  top: 343px;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  width: 338.7px;
  z-index: 30;
}

.plus-container {
  position: relative;
  right: -307px;
  top: -100px;
}

.plus {
  height: 12.41px;
  margin-bottom: 16px;
  margin-right: 16px;
  width: 12.41px;
}

.missing-plus {
  opacity: 0;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4 {
  position: absolute;
  left: 0;
  top: 750px;
}

.circle-2 {
  top: 740px;
}

.circle-3 {
  top: 730px;
}

.circle-4 {
  top: 720px;
}

.bottom-container {
  background-color: var(--blue);
  color: var(--white);
  height: 275px;
  left: calc((1440px - 1280px) / 2);
  position: absolute;
  top: calc(1044px - 275px);
  width: 1280px;
  z-index: 20;
}

.bottom-text {
  font-size: 20px;
  height: 72px;
  padding: 80px 80px 0 80px;
  text-align: left;
}

.scroll-container {
  cursor: pointer;
  font-size: 16px;
  padding-top: 44px;
  text-align: center;
}

.scroll-container:hover {
  color: var(--peach);
}